header
{
	width: 100%;
	height: 100px;
	background-color: gray; 
	margin: 0px;
}
.wraper 
{
	max-width: 100%; 
	overflow: hidden;
}

main
{
	max-width: 1300px;
	margin-right: auto; 
	margin-left: auto; 
	background-color: orange; 
}
h1
{
	margin-top: 0px; 
	text-align: center; 
}
h4
{
	text-align: center;
}
section
{	
	margin-top: 0px;
	margin-left: 10%;

}
img
{
 	width: 1000px;
}
picture
{
	width: inherit;
	height: inherit;
} 

.imageSection
{
	width: 100%;
	height: auto; 
	margin-top: 10px;
}

.HeaderTextDiv
{   
	text-align: center; 
	font-size: 30px; 
	font-family: Helvetica; 
	padding-top: 30px;
	margin: 0px;
}

.block
{
	width: 100px;
	height: 100px;
	background-color: black; 
	
}

@media (max-width: 1330px) {

  section {
	margin-left: 20px; 
 	margin-right: 20px;
	} 

	main { width: 1000px; }
	.imageSection{ width: 100%; } 

	img
	{
		width: 100%;
	} 
}


@media (max-width: 1030px) {
header
{
	width: 100%;

}
 main
 {
 	width: 100%; 
 }
 section {
 	
 	margin-left: 10%;
 	margin-right: 10%;
	} 
	
	.imageSection{ 
		width: inherit;
	 
		 } 
	img
	{
		width: 100%;
	} 
}